<h1>{{common_name}}</h1>

<img src="https://chart.googleapis.com/chart?cht=qr&chl=http://127.0.0.1:3000/plants/{{id}}&chs=150x150" alt="">

<form action="/create/{{id}}" method="post">
	<button type="submit">Add it</button>
</form>

<hr />
<h3>Registration date:</h3>
<p>{{registrationDate}}</p>

<h3>Description:</h3>

<p>{{synonyms}}</p>

<h3>Picture:</h3>
<img src="{{image_url}}" alt="">
<hr />

<a href="/">Back</a>