<div class="flex justify-center flex-wrap items-center gap-20">

	<div>
		<img src="{{image_url}}" alt="" class="max-w-md border shadow-lg">
	</div>



	<div class="" id="plant-info">
		{{#if common_name}}
		<h1 class="mb-4 text-4xl font-bold">{{common_name}}</h1>
		{{/if}}
		{{#if scientific_name}}
		<h1 class="mb-4 text-2xl font-light">{{scientific_name}}</h1>
		{{/if}}
		{{#if commonNames}}
		<h3 class="mb-4 text-2xl font-light">But Humans also like call me:</h3>
		{{#each commonNames}}
		<h1 class="mb-4 text-3xl font-bold">{{this}}</h1>
		{{/each}}
		{{/if}}


		<br>



		<p class="mb-4 text-2xl font-light">Some more infomation about me:</p>
		{{#if family}}<h2 class="mb-4 text-2xl font-light">Family Name: {{family}}</h2>{{/if}}
		{{#if species}}<h2 class="mb-4 text-xl font-light">Species: {{species}}</h2>{{/if}}
		{{#if genus}}<h2 class="mb-4 text-xl font-light">Genus: {{genus}}</h2>{{/if}}


			<form action="/create/{{id}}" method="post">
		<button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full">Add to my Garden</button>
	</form>

		{{!-- <h3>Registration date:</h3>
		<p>{{registrationDate}}</p> --}}


		<p>{{description}}</p>







	</div>





</div>
