<div class="relative">
    <div class="flex flex-col items-center justify-center gap-5">
        <br>
        <br>
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900">My Garden</h1>
        <a href="/plants/create">
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full">
                Connect with a new plant
            </button></a>
    </div>
    {{#if plants}}
    <div class="flex flex-wrap justify-center mt-10">

        {{#each plants}}
        <div class="p-4 max-w-xs">
            <div class="flex rounded-lg h-80 p-8 flex-col shadow-2xl">
                <div class="flex items-center mb-4 shadow-lg">
                    <img src="{{this.picture}}" alt="" class="rounded-lg small-preview">
                </div>
                <div class="flex flex-col justify-between flex-grow">
                    <h2 class="text-black text-lg text-center font-bold">{{this.name}}</h2>
                    <p class="leading-relaxed text-base text-black">{{this.name}}</p>
                    <a href="/plants/{{this._id}}"
                        class="mt-3 text-black hover:text-blue-600 inline-flex items-center">Details
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}

        {{else}}
        <p class="text-center text-2xl mt-12">Oops! It seems like you did not register any plants yet!</p>
        {{/if}}
    </div>