<h1>{{name}}</h1>

<img src="https://chart.googleapis.com/chart?cht=qr&chl=http://127.0.0.1:3000/plants/{{_id}}&chs=150x150" alt="Plant QR Code">

<hr />

<h3>Registration date:</h3>
<p>{{registrationDate}}</p>

<h3>Description:</h3>
<p>{{description}}</p>

<h3>Picture:</h3>
<img src="{{picture}}" alt="">


<hr />

<a href="/plants">Back</a>