{{#if name}}
<h1>My name is {{name}}!</h1>
{{/if}}





<h2>Scientific Name: {{imageRecName}}</h2>
<h2>Family Name: {{familyName}}</h2>

<hr />

<h3>Registration date:</h3>
<p>{{registrationDate}}</p>

<h3>Description:</h3>
<p>{{description}}</p>

<img src="{{picture}}" alt="" class="h-20">

<p>{{history}}</p>
<hr />

<a href="/plants">Back</a>

<img src="https://chart.googleapis.com/chart?cht=qr&chl=http://127.0.0.1:3000/plants/{{_id}}&chs=150x150" alt="Plant QR Code">