<div class="flex justify-center flex-wrap items-center gap-20">

    <div>
        <img src="{{picture}}" alt="" class="small-preview border shadow-lg">
    </div>

    <div class="" id="plant-info">
        {{#if name}}
        <h1 class="mb-4 text-4xl font-bold">My name is {{name}}!</h1>
        {{/if}}
        {{#if imageRecName}}
        <h1 class="mb-4 text-2xl font-light">I am a {{imageRecName}}!</h1>
        {{/if}}
        {{#if commonNames}}
        <h3 class="mb-4 text-2xl font-light">But Humans also like call me:</h3>
        {{#each commonNames}}
        <h1 class="mb-4 text-3xl font-bold">{{this}}</h1>
        {{/each}}
        {{/if}}

        <br>
        <br>
        <br>



        <p class="mb-4 text-2xl font-light">Some more infomation about me:</p>
        {{#if familyName}}<h2 class="mb-4 text-2xl font-light">Family Name: {{familyName}}</h2>{{/if}}
        {{#if species}}<h2 class="mb-4 text-2xl font-light">Species: {{species}}</h2>{{/if}}
        {{#if genus}}<h2 class="mb-4 text-2xl font-light">Genus: {{genus}}</h2>{{/if}}
        <hr />

        {{!-- <h3>Registration date:</h3>
        <p>{{registrationDate}}</p> --}}


        <p>{{description}}</p>




        <hr />

        <a href="/plants">Back</a>
        <img src="https://chart.googleapis.com/chart?cht=qr&chl=http://127.0.0.1:3000/plants/{{_id}}&chs=150x150"
            alt="Plant QR Code">


    </div>





</div>
<div class=" flex flex-row-reverse justify-between">
    <a href="{{_id}}/delete"><button class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Delete
            plant</button></a>
    <a href="{{_id}}/chat"><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Plant
            Doctor</button></a>
    <a href="{{_id}}/edit"><button class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit
            plant</button></a>
</div>
<br>

<div class="flex justify-end">

</div>

<br><br><br>

<div class="flex flex-col justify-center mx-20">

    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full w-12 h-12 text-2xl"
        onclick="showHistoryItemForm()">
        +
    </button>
    <br><br>

    <form id="newHistoryItemForm" class="hidden" action="/plants/{{_id}}/addevent" method="post">

        <div class="hidden">
            <label for="date">Registration date</label>
            <input type="date" name="date" id="date" />
        </div>
        <div class="hidden">
            <label for="plant">PlantID</label>
            <input type="text" name="plant" id="plant" value="{{_id}}" />
        </div>


        <div class="relative z-0 w-full mb-6 group">
            <input type="text" name="category" id="category"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" " value="Observation" />
            <label for="floating_email"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Category</label>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <input type="text" name="description" id="description"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder="" required />
            <label for="floating_password"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description</label>
        </div>


        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>




    {{#each history}}
    <input type="date" value="{{this.date}}">
    <h1 class="mb-4 text-m font-light">{{this.date}} - {{this.category}}{{this.description}}</h1>
    <hr>
    {{/each}}
</div>

<br><br>

<script>
    function showHistoryItemForm() {
        let form = document.getElementById("newHistoryItemForm");
        form.classList.toggle("hidden");
    }
    var myDate = document.getElementById('date');
    var today = new Date();
    myDate.value = today.toISOString().substr(0, 10);


</script>