<h1>Name: {{this.name}} </h1>
	<img src="{{this.takenImage}}" alt="" class="small-preview">
<br/>
<hr/>

<h2>The Similiar Plants</h2>
{{#each plantData}}
<section>
	<h2>{{this.scientificName}}</h2>
	<h3>Matching Score: {{score}}</h3>
	<h3>{{this.organ}}</h3>
	<img src="{{this.images}}" alt="" class="small-preview">

</section>
{{/each}}

